.vscode/
.metals/

# Scala
backend/dao/psql
backend/project/.bloop/
backend/project/.ivy/
backend/project/metals.sbt
backend/target/
backend/project/project/
backend/project/target/
backend/.idea/
backend/.bsp/
backend/.metals/
backend/.vscode/
backend/.bloop/
backend/run.sh

# Elm
waivers-ui/elm-stuff/
waivers-ui/elm.js
waivers-ui/node_modules/
waivers-ui/public/

# SBT
dist/*
.cache
.history
.lib/

# Play Framework
logs
RUNNING_PID
.sbtserver

# Environment
.env
.env.local

# OS
.DS_Store
Thumbs.db