.bloop/
.metals/
.scala-build/
.vscode/
project/.bloop/
project/metals.sbt
project/project/
waivers-*.tar.gz
project/.sbtboot -Dsbt.boot.directory=project/
run.sh
waivers-*
.bsp
dao/psql
dao/scala
api/native
api/project
prepare-production/
target/
project/target
project/.boot/
project/.ivy/
project/.sbtboot/
dist/*
logs/
.ivy2
.lib/
.cache
.history
*.class
*.log
*.swp
*.swo
.DS_STORE
.idea